/*===================== Animation================== */
.container.sign-up-mode::before{
    transform: translateX(0);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content{
    transform: translateX(200%);
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content{
    transform: translateX(0);
}
.container.sign-up-mode form.sign-in-form{
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form{
    opacity: 1;
}
.container.sign-up-mode .right-panel{
    pointer-events: none;
}
.container.sign-up-mode .left-panel{
    pointer-events: all;
}